#list {
    color:rgb(149, 255, 0);
    text-decoration: none;
    font-weight: bold;
}

.table-content {
    color:chartreuse;
    font-weight: bold;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-image: url('images/pexels-gueylo-2148776361-30308896.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}

div {
    padding: 20px;
}

img {
    border: 3px solid green;
    margin: 30px;
}